@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@100;300;400;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');


.Signup{
    height: 100vh;
    background: url("../resources/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.signup-form{
    font-family: Roboto;
}
.logo-img{
    height: 60px;
    
}
.signup-form> h1{
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #0F96C3;
}

.form-control{
width: 400px;
height: 30px;
border-style: solid;
border-color: #C7CAD0;
margin: 10px 0;
}

input::placeholder{
font-size: 14px;
line-height: 16px;
font-family: Roboto;
color: rgba(68, 78, 99, 0.3);
padding-left: 9px;
}

.signup-btn{
margin-top: 43px;
background: #0F96C3;
border: 2px solid #0F96C3;
box-sizing: border-box;
width: 200px;
height: 40px;
font-family: Roboto;
font-weight: 600;
font-size: 16px;
color: #FFFFFF;
}

.signup-form> p{
font-size: 14px;
color: #444E63;
}

.signup-form> a{
    text-decoration: none;
    font-size: 14px;
    color: #0F96C3;
    }
